*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root{
    /*colors*/
    /*main colors*/
    --c-primary: rgb(255, 255, 255);/*background, text*/
    --c-secondary: rgb(19, 24, 63);/* background, text*/
    /*neutral colors*/
    --c-neutral: rgb(131, 134, 154);/*text*/
    /*accent colors*/
    --c-accent: rgb(247, 71, 126);/*course link text*/
    --c-accent-2: rgb(255, 167, 195); /*course link hover*/
    --c-accent-3:rgb(102, 108, 163);/*header button hover*/
    --c-accent-linear-gradient: linear-gradient(rgb(255, 111, 72), rgb(240, 42, 166));
    --c-accent-linear-gradient-2: linear-gradient(rgb(240, 42, 166), rgb(72, 81, 255));
    /*font weight*/
    --fw-500: 500;
    --fw-700: 700;
    --fw-800: 800;
    /*font size*/
    --fs-S: 1.6rem;
    --fs-MS: 1.8rem;
    --fs-M: 2rem;
    --fs-ML: 2.4rem;
    --fs-L: 3.2rem;
    --fs-XL: 4rem;
    --fs-XXL: 5.6rem;
}
body,
html{
    overflow-x: hidden;
    position: relative;
}
html{
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans', 'sans-serif';
    font-weight: var(--fw-500);
    color: var(--c-neutral);
}
p{
    line-height: 2.6rem;
}
body{
    font-size: var(--fs-S);
    background: linear-gradient(rgb(19, 24, 63, 0) 50%, rgb(19, 24, 63, 0.1));
}
.header{
    width: 100%;
    margin-bottom: 3.8rem;
    padding: 1.6rem 1.6rem 0rem 1.6rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.header__img{
    grid-column: 1;
    width: 8.9rem;
    height: auto;
} 
.header__button{
    border-radius: 2.8rem;
    background-color: var(--c-secondary);
    width: 14rem;
    height: 4.8rem;
    grid-column: 3;
    z-index: 2;
    color: var(--c-primary); 
}
.header__button,
.hero__button,
.footer__button{
    color:var(--c-primary);
    font-size: var(--fs-S);
    font-weight: var(--fw-700);
    border: none;
    cursor: pointer;
}
.header__button:hover{
    background: var(--c-accent-3);
}
.hero__button:hover{
    opacity: 50%;
}
.footer__button:hover{
    opacity: 50%;
    
}
.main{
    overflow: hidden;
}
.main__hero > *:not(picture){
    margin: 0rem 1.6rem;
}
.hero__title{
    font-size: var(--fs-XL);
    color: var(--c-secondary);
    font-weight: var(--fw-800);
    margin-bottom: 2.6rem !important;
}
.hero__group p{
    margin-bottom: 2.4rem;   
}
.hero__button{
    width: 16.7rem;
    height: 5.6rem;
    border-radius: 3.15rem;
    background: var(--c-accent-linear-gradient);
    margin-bottom: 2rem;
}
/* hero image ******************/
.main__hero picture{ 
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.hero__img{
    width: 100%;
    width: 50rem;
    margin: 0 auto;
}
/*****************************/
.main__courses-conteiner{
    padding: 0rem 1.6rem 8rem 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 4rem
}
.courses-conteiner__title{
    background: var(--c-accent-linear-gradient);
    width: 100%;
    padding: 2.4rem 2.9rem 3.2rem 2.8rem;
    color: var(--c-primary);
    font-size: var(--fs-ML);
    font-weight: var(--fw-800);
    border-radius: 1rem;
}
.courses-conteiner__courses{
    background-color: var(--c-primary);
    border-radius: 1rem;
    box-shadow: 0.05rem 0.05rem 1rem var(--c-secondary);
    padding: 0 2.9rem 3.2rem 2.8rem;
}
.courses__icon{
    position: relative;
    transform: translateY(-50%);
}
.courses__title{
    font-size: var(--fs-M);
    color: var(--c-secondary);
    font-weight: var(--fw-800);
    margin-bottom: 1.6rem;
}
.courses-conteiner__courses p{
    margin-bottom: 2.4rem;
}
.courses__link{
    color: var(--c-accent);
    font-size: var(--fs-MS);
    font-weight: var(--fw-700);
    text-decoration: none;
}
.courses__link:hover{
    color:var(--c-accent-2);
}
.footer{
    background-color: var(--c-secondary);
    padding: 3.6rem 1.6rem;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
}
.footer__button{
    border-radius: 2.8rem;
    background: var(--c-accent-linear-gradient-2);
    width: 14rem;
    height: 4.8rem;
    grid-column: 3;
    color: var(--c-primary); 
}
.footer__img{
    grid-column: 1;
    width: 8.9rem;
    height: auto;
} 
@media only screen and (max-width: 1024px) and (min-width: 600px){
    .header{
        margin-bottom: 3.8rem;
        padding-top: 2.4rem;
    }
    .header,
    .main,
    .footer{
        padding-left: 5.2% !important;
        padding-right: 5.2% !important;
    }
    .header{
        margin-bottom: 10rem;
    }
    .header__button{
        height: 4.8rem;
        grid-column: 3;
        color: var(--c-primary); 
    }
    .main__hero > *:not(picture){
        margin: 0rem;
    }
    .main__hero{
        margin-bottom: 21rem !important;
        max-width: 100%;
    }
    .hero__group{
        max-width: 55%;
        display: flex;
        flex-direction: column;
    }
    .hero__button{
        margin-bottom: 0;
    }
    /* hero image ******************/
    .main__hero picture{     
    width: 64rem;
    margin: auto;
    position: absolute;
    top: -8rem;
    right: calc(-36rem + 10%);
    }
    .hero__img{
    margin: auto;
    width: 100%;
    max-width: 64rem;
    transform: none;
    }
    /***********************************/
    .main__courses-conteiner{
        padding: 0rem;
        margin-bottom: 8.6rem !important;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items:flex-end;
        row-gap: 5.8rem;
        column-gap: 1rem;
    }
    .courses-conteiner__title{
        padding: 5.6rem 2.3rem 13.9rem 3rem;
        min-height: 25.9rem;
        height: 100%;
    }
    .courses-conteiner__courses{ 
        height: 100%;
        min-height: 25.9rem;
        padding: 0 2.1rem 3.2rem 3.2rem;
    }
    .courses__icon{
        transform: translateY(-50%) translateX(0rem);
    }
    .footer{
        padding-top: 3.6rem;
    }
}
@media only screen and (min-width: 1025px){
    .header__button,
    .hero__button,
    .footer__button,
    .courses__link,
    p{
        font-size: var(--fs-MS);
    }
    .header,
    .main,
    .footer{
        padding-left: 11.45% !important;
        padding-right: 11.45% !important;
    }
    .header{
        padding-top: 2.4rem;
        margin-bottom: 17.2rem;
    }
    .header__img,
    .footer__img{
        width: 11.2rem;
        height: 3.5rem;
    }
    .header__button,
    .footer__button{
        width: 16.7rem;
        height: 5.6rem;
    }
    .main__hero > *:not(picture){
        margin: 0rem;
    }
    .main__hero{
        display: inline-block;
        margin-bottom: 25rem !important;
    }
    .hero__group{
        max-width: 46%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .hero__title{
        font-size: var(--fs-XXL);
    }
    .hero__group p{
        margin-right: 1.6rem;
    }
    .hero__button{
        margin-top: 0.7rem;
        margin-bottom: 0;
        height: 6.4rem;
    }
    /* hero image ******************/
    .main__hero picture{
        width: 99.16rem;
        margin: 0;
        position: absolute;
        top: -10rem;
        right: calc(-70rem + 30%);
        }
        .hero__img{ 
        margin: auto;
        width: 100%;
        max-width: 99.16rem;
        transform: none;
        }
    /***********************************/
    .main__courses-conteiner{
        padding: 0rem;
        margin-bottom: 14rem !important;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
        align-items:flex-end;
        row-gap: 8rem;
        column-gap: 3rem;
    }
    .courses-conteiner__title{
        padding: 6.4rem 3.2rem 13.8rem 3.2rem;
        min-height: 32.2rem;
        height: 100%;
        font-size: var(--fs-L);
    }
    .courses-conteiner__courses{ 
        height: 100%;
        min-height: 32.2rem;
        padding: 0 3.2rem 4rem 3.2rem;
    }
    .courses__title{
        font-size: var(--fs-ML);
        margin-bottom: 3rem;
    }
    .courses-conteiner__courses p{
        min-height: 11rem;
    }
    .courses__icon{
        transform: translateY(-50%) translateX(0rem);
    }
    .footer{
        padding: 3.2rem;
    }
}